streams {
    ## Stream down events from our friend relays
    friends {
        dir = "down"
        # pluginDown = "/opt/strfry-policy.ts"

        urls = [
            "wss://nostr-pub.wellorder.net",
            "wss://relay.damus.io",
            "wss://relay.exit.pub",
            "wss://relay.nostr.band",
            "wss://nostr-pub.wellorder.net",
            "wss://purplepag.es",
            "wss://nos.lol",
            "wss://nostr21.com",
            "wss://nostr.mom",
            "wss://nostr.bitcoiner.social",
            "wss://relay.primal.net"
        ]
    }

    ## Stream bi-directional events from our friend relays
    friends {
        dir = "both"

        urls = [
            "wss://ca.relayable.org"
        ]
    }

    ## Bi-directional streaming within our cluster
    cluster {
        dir = "both"

        urls = [
            "wss://servicediscovery-fcvgj8f4sc54.us-east-2-purplerelay.internal",
            "wss://servicediscovery-jcxbzsyteqcw.ap-northeast-1-purplerelay.internal",
            "wss://servicediscovery-eyt5cvcn0kne.eu-central-1-purplerelay.internal",
            "wss://servicediscovery-y6tvlqmfuez7.af-south-1-purplerelay.internal",
            "wss://servicediscovery-5u8kfcwtbmvm.sa-east-1-purplerelay.internal"
#            "wss://us.purplerelay.com"
#            "wss://ap.purplerelay.com",
#            "wss://eu.purplerelay.com",
#            "wss://af.purplerelay.com",
#            "wss://br.purplerelay.com"
        ]
    }

    ## Backup profiles and contact lists to our directory node
    directory {
        dir = "up"
        filter = { "kinds": [0, 3] }

        urls = [
            "ws://192.168.1.18:7777"
        ]
    }
}

